@model ContatoModel

@{
    ViewData["Title"] = "Cadastro de Contatos";
}


<div class="text-center">
    <h1 class="display-4">Cadastro de Contato</h1>
</div>

<form asp-controller="Contato" asp-action="Criar" method="Post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" placeholder="Digite seu nome do contato">
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" placeholder="Digite o e-mail do contanto">
    </div>

    <div class="form-group">
        <label for="Celular">Celular</label>
        <input type="text" class="form-control" placeholder="Digite o Celular do contanto">
    </div>


    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>


</form>